.iconPayment{
    margin-top: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.titleCard{
    margin-top: 10px;
    font-size: 18px;
}

.subTitleCard{
    font-size: 14px;
    color: blue;
    width: 180px;
    cursor: pointer;
}

.border-left{
    border-left: 2px solid rgba(128, 128, 128, 0.219)
}