@import "./Components/NavBar/NavBar.scss";
@import "./Components/Pages/Home/Home.scss";
@import "./Components/Pages/Home/paymentMethods/Payment.scss";
@import "./Components/Pages/Home/Offers/Offers.scss";
@import "./Components/Detail/Detail.scss";

@font-face {
  font-family: "ProximaNova";
  src: url("./ProximaNova-Light.ttf");
}

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #ebebeb;
}

.text-center{
  text-align: center;
}

.text-end{
  text-align: end;
}

.decoration-none{
  text-decoration: none;
}

.css-rhsghg{
  display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    object-fit: cover;
}

//Global Margin
.mt-1{
  margin-top: 10px;
}
.mt-2{
  margin-top: 20px;
}
.mt-3{
  margin-top: 30px;
}
.mt-4{
  margin-top: 40px;
}
.mt-5{
  margin-top: 50px;
}

.ml-1{
  margin-left: 10px;
}
.ml-2{
  margin-left: 20px;
}
.ml-3{
  margin-left: 30px;
}
.ml-4{
  margin-left: 40px;
}
.ml-5{
  margin-left: 50px;
}

